//VARIABLES
$colorprimario: #304554;
$colorsecundario: #F8BB03;

body {
  background-color: $colorprimario;
  overflow-x: hidden;
}

//MENU PRINCIPAL

img.logotipo {
  width: 200px;
  margin-left: 20px;
}

.navbar {
  background-color: $colorprimario;
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: white;

  a.navbar-brand {
    width: 20px;
  }
}

// MENU PAGINAS
.navbar-expand-lg .navbar-collapse {
  margin-left: 57%;
}

//MENU REDES SOCIALES

.barraredessociales.row {
  background-color: $colorsecundario;
  height: 24px;
}

ul.menuredesociales {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: black;

  .bi-facebook::before {
    color: $colorprimario;
  }

  .bi-instagram::before {
    color: $colorprimario;
  }

  .bi-linkedin::before {
    color: $colorprimario;
  }

  .bi-whatsapp::before {
    color: $colorprimario;
  }
}

//FOOTER
footer.footerprincipal.row {
  background-color: $colorprimario;
  height: 60px;

  p.parrafosfooter {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 400;
    position: fixed;
  }
}
